# Wait 60 seconds before connecting using these details, or login to https://console.neo4j.io to validate the Aura Instance is available
NEO4J_URI=<REPLACE_WITH_YOUR_URI>
NEO4J_USERNAME=<REPLACE_WITH_YOUR_USERNAME>
NEO4J_PASSWORD=<REPLACE_WITH_YOUR_PASSWORD>
AURA_INSTANCEID=<REPLACE_WITH_YOUR_AURA_INSTANCEID>
AURA_INSTANCENAME=<REPLACE_WITH_YOUR_AURA_INSTANCENAME>
